[Unit]
Description=PacketLoss Advertisements Bot Service
After=network.target

[Service]
Type=simple
User=packetads
WorkingDirectory=/home/packetads/packetads
ExecStart=/home/packetads/.local/share/pnpm/bin/pnpm run start
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=packetads

[Install]
WantedBy=multi-user.target